version: '3.1'

networks:
  net3dp:
    external: true

services:
  influxdb:
    image: taehoony/influx:1.0
    container_name: influx
    ports:
      - "58086:8086"
    environment:
      INFLUXDB_DB: mydb
      INFLUXDB_ADMIN_USER: keti_root
      INFLUXDB_ADMIN_PASSWORD: madcoder
    volumes:
      - ./influxdb-data:/var/lib/influxdb
    restart: always
    networks:
      - net3dp

  grafana:
    image: taehoony/grafana:1.0
    container_name: grafana
    ports:
      - "53000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=keti_root
      - GF_SECURITY_ADMIN_PASSWORD=madcoder
    volumes:
      - ./grafana-data:/var/lib/grafana
    networks:
      - net3dp
    restart: always
