version: '3'

networks:
  3pdx-bridge:
    external: true

services:
  mongo1:
    image: taehoony/mongo:1.4
    container_name: mongo_3pdx
    ports:
      - "55427:27017"
    volumes:
      - /home/keti3dp/disks/disk0/data/mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: keti_root
      MONGO_INITDB_ROOT_PASSWORD: madcoder
      MONGO_INITDB_DATABASE: admin
      MONGO_INITDB_REPLICA_SET_NAME: "rs0"
    command: ["--replSet", "rs0" ,"--bind_ip_all", "--port", "27017", "--keyFile", "/etc/mongo-keyfile"]
    networks:
      3pdx-bridge:
        ipv4_address: 172.23.0.8

  mongo2:
    image: taehoony/mongo:1.4
    container_name: mongo_3pdx_replica
    ports:
      - "55428:27017"
    volumes:
      - /home/keti3dp/disks/disk1/data/mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: keti_root
      MONGO_INITDB_ROOT_PASSWORD: madcoder
      MONGO_INITDB_DATABASE: admin
      MONGO_INITDB_REPLICA_SET_NAME: "rs0"
    command: ["--replSet", "rs0" ,"--bind_ip_all", "--port", "27017", "--keyFile", "/etc/mongo-keyfile"]
    networks:
      3pdx-bridge:
        ipv4_address: 172.23.0.9

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "55430:8081"
    environment:
      ME_CONFIG_MONGODB_URL : mongodb://keti_root:madcoder@mongo1:27017/?authSource=admin&replicaSet=rs0
      ME_CONFIG_BASICAUTH_USERNAME: keti_root
      ME_CONFIG_BASICAUTH_PASSWORD: madcoder
    depends_on:
      - mongo1
      - mongo2
    networks:
      - 3pdx-bridge
