version: '3'

networks:
  3pdx-bridge:
    external: true

services:
  minio:
    image: taehoony/minio:1.3
    container_name: minio_3pdx
    environment:
      MINIO_ROOT_USER: keti_root
      MINIO_ROOT_PASSWORD: madcoder
      MINIO_STORAGE_CLASS_STANDARD: EC:2
    restart: always
    shm_size: '1gb'
    ports:
      - "59000:9000"
      - "59001:9001"
    volumes:
      - /home/keti3dp/disks/disk2/data/minio:/data1
      - /home/keti3dp/disks/disk3/data/minio:/data2
      - /home/keti3dp/disks/disk4/data/minio:/data3
      - /home/keti3dp/disks/disk5/data/minio:/data4
      - /home/keti3dp/disks/disk6/data/minio:/data5
      - /home/keti3dp/disks/disk7/data/minio:/data6
      - /home/keti3dp/disks/disk8/data/minio:/data7
    command: server /data1 /data2 /data3 /data4 /data5 /data6 /data7 --console-address ":9001"
    networks:
      - 3pdx-bridge